# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

   trigger:
     branches:
       include:
       - main
       - develop

   pool:
     vmImage: 'ubuntu-latest'

   steps:
   - checkout: self
     fetchDepth: 0

   - script: |
       git remote add azure https://$(AZURE_PAT)@dev.azure.com/$(AZURE_ORG)/$(AZURE_PROJECT)/_git/$(AZURE_REPO).git
       git push azure --all
       git push azure --tags
     displayName: 'Push to Azure Repos'
     env:
       AZURE_PAT: $(AZURE_PAT)
