@inherits LayoutComponentBase
@* Required *@
<MudThemeProvider/>
<MudPopoverProvider/>

@* Needed for dialogs *@
<MudDialogProvider/>

@* Needed for snackbars *@
<MudSnackbarProvider/>
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <article class="content px-4">
        @Body
    </article>
</div>
<footer style="align-items: center">
    <div role="toolbar">
        <p>Hjemmeside af
            <span><a href="https://github.com/JeppeMarek">Jeppe Marek</a></span>
        </p>
        <p>LinkedIn</p>
    </div>
</footer>