@rendermode InteractiveAuto
<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
    <MudTextField T="string"
                  Class="overflow-scroll"
                  Typo="Typo.body2"
                  Value="@MarkdownContent"
                  ValueChanged="OnValueChanged"
                  Placeholder="Begynd at skriv opslagets indhold her... Teksten understøtter Markdown"
                  HelperText="Opslagets indhold"
                  Lines="15"/>

    <div Size="12" SizeMD="6" Style="min-width: 0;">
        <MudButton EndIcon="@Icons.Material.Filled.Update" Color="Color.Tertiary" Ripple="true"
                   OnClick="@UpdatePreview">Opdater
        </MudButton>
        <MudMarkdown @rendermode="InteractiveServer" HasTableOfContents="true" Value="@MarkdownContent"/>
    </div>
</MudContainer>


@code {
    private string previewText = "";

    private async Task OnValueChanged(string? value)
    {
        MarkdownContent = value;
        await MarkdownContentChanged.InvokeAsync(value);
    }

    private async Task UpdatePreview()
    {
        previewText = MarkdownContent ?? "";
    }

    [Parameter] public string? MarkdownContent { get; set; }

    [Parameter] public EventCallback<string?> MarkdownContentChanged { get; set; }
}
