@page "/"
@using Microsoft.IdentityModel.Tokens
@rendermode InteractiveServer
@inject ICategoryService categoryService

<PageTitle>Jeppe Marek Portfolio</PageTitle>
<header>Jeppe Marek Portfolio</header>
<AuthorizeView>
    <Authorized>
        <MudNavLink Href="/category/new"
                    Icon="@Icons.Material.TwoTone.AddCircle"
                    IconColor="Color.Primary">
            Ny Kategori
        </MudNavLink>
    </Authorized>
</AuthorizeView>

<br/>
<MudGrid>
    @if (!categories.IsNullOrEmpty())
    {
        foreach (var cat in categories)
        {
            <MudItem>
                <MudCard>
                    <MudCardMedia Image=@cat.CoverImgPath Height="200"></MudCardMedia>
                    <MudCardContent>
                        <MudText Typo="Typo.h3">@cat.Title</MudText>
                        <MudText Typo="Typo.body1">@cat.Description</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text" @Color="Color.Primary">
                            <a href="/category-details/@cat.Id">Åbn kategori</a>
                        </MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        }
    }
</MudGrid>